@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);
body {
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQANOiV2bGZHFQAL75pf5wgVhAiBFYEGYAFwlsgqYAgCqtRfGAd9q4QAAAABJRU5ErkJggg==) #bcc;*/
    background-image: url('../images/clouds.svg');
}

#cloud {
  position: absolute;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  width: 95%;
  z-index: 10;
}

.cloud-title {
  position: absolute;
  left: 25%;
  top: 12%;
  font-size: 4rem;
  font-family: 'Kranky', cursive;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  z-index: 1000;

}

#ladder {
  margin: 1rem auto;
  perspective: 900px;
  perspective-origin: 50%;
  padding-top: 20rem;
  width: 70%;
  z-index: -100;
}

#ladder .opened {
  transform: translateZ(10px) translate(0, -30rem);
}

#ladder .fold {
  border-left: 1rem solid #433E3F;
  border-right: 1rem solid #433E3F;
  border-top: 1rem solid #433E3F;
  display: block;
  opacity: 0;
  height: 12rem;
  padding: 15px 10px;
  transform-origin: 50% 0;
  transform: rotateX(-90deg);
  transition: transform 1s, opacity 0.1s;

}
#ladder .fold.unfolded, #ladder .fold:nth-child(1) {
  opacity: 1;
  transform: rotateX(0);
}

.challenge__contents label {

  font-size: 3rem;
}

.challenge__contents input {
  width: 100%;
  font-size: 3rem;

}
