@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);
body {
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQANOiV2bGZHFQAL75pf5wgVhAiBFYEGYAFwlsgqYAgCqtRfGAd9q4QAAAABJRU5ErkJggg==) #bcc;*/
    /*background-image: url('../images/clouds.svg');*/
    background-color: #A2C7E5;
}

#cloud {
  position: absolute;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  width: 95%;
  z-index: 10;
}

.cloud-title {
  position: absolute;
  left: 25%;
  top: 12%;
  font-size: 4rem;
  font-family: 'Kranky', cursive;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  z-index: 1000;

}

#ladder {
  margin: 1rem auto;
  perspective: 900px;
  perspective-origin: 50%;
  padding-top: 15rem;
  width: 70%;
  z-index: -100;
}

#ladder .opened {
  transform: translateZ(10px) translate(0, -30rem);
}

#ladder .fold {
  border-left: 1rem solid #433E3F;
  border-right: 1rem solid #433E3F;
  border-top: 1rem solid #433E3F;
  display: block;
  opacity: 0;
  padding: 15px 10px;
  transform-origin: 50% 0;
  transform: rotateX(-90deg);
  transition: transform 1s, opacity 0.1s;

}
#ladder .fold.unfolded, #ladder .fold:nth-child(1) {
  opacity: 1;
  height: 15rem;
  transform: rotateX(0);
}

.challenge label {
  font-size: 3rem;
}

.challenge__description {
  width: 95%;
  font-size: 3rem;
  border: 0.3rem solid black;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  height: 2rem;
  color: black;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
