body {
  background-color: #A2C7E5;
  box-sizing: border-box;
  margin: 0;
  height: 300vh;
  font-family : 'Chivo';
}

.cloud {
  margin-top: 6.5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  width: 95%;
  z-index: 5;
}

.cloud-small {
  width: 25%;
  z-index: 4;
  justify-content: flex-end;
  top: 5%;
  animation: cloud-move-s 8s ease infinite;
}

.cloud-medium {
  width: 40%;
  z-index: 4;
  right: 0%;
  top: 5%;
  animation: cloud-move-m 6s ease infinite;
}

@keyframes cloud-move-m {
  0% {
    transform: none;
  }
  40% {
    transform: translateX(-45%) ;
  }
  100% {
    transform: none;
  }
}

@keyframes cloud-move-s {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(45%) ;
  }
  100% {
    transform: none;
  }
}

.cloud-title {
  position: absolute;
  left: 25%;
  top: 18%;
  font-size: 4rem;
  font-family: 'Kranky', cursive;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  z-index: 9;
  transition: top 2s ease;
  color: #3B3561;
}

.move-up {
  top: 9%;
}

#ladder {
  margin: 1rem auto;
  perspective: 900px;
  perspective-origin: 50%;
  padding-top: 18rem;
  width: 70%;
  z-index: -9;
  display: flex;
  flex-direction: column;;
  transition: all 0.9s ease;
}

#ladder .fold {
  display: block;
  opacity: 0;
  padding: 15px 10px;
  transform-origin: 50% 0;
  transform: rotateX(-90deg);
  transition: transform 1s, opacity 0.1s;
}

.border {
  border-left: 1rem solid #3B3561;
  border-right: 1rem solid #3B3561;
  border-top: 1rem solid #3B3561;
  height: 12rem !important;
}

#ladder .fold.unfolded, #ladder .fold:nth-child(1) {
  opacity: 1;
  height: 22rem;
  transform: rotateX(0);
}

.challenge {
  font-size: 2.5rem;
  padding-bottom: 5rem;
}

.ladder__btns {
  position:fixed;
  left:0;
  bottom:0%;
  width:100%;
  z-index: 10;
  transition: 1s all ease;
}

.btn {
  width: 100%;
  color: #fff;
  height: 7rem;
  transition: 0.2s background ease;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 0.5rem 1.2rem;
  font-family:Trebuchet MS;
  background-color: #A2C7E5;
  font-weight: bold;
}

#addStep {
  border-top: 0.8rem solid #3B3561;
  border-bottom: 0.8rem solid #3B3561;
  border-left: 1.8rem solid #3B3561;
  border-right: 1.8rem solid #3B3561;
  color:#3B3561;
  height: 8rem;
}

#completeLadder {
  border: 0;
  border-left: 1.8rem solid #A2C7E5;
  border-right: 1.8rem solid #A2C7E5;
  background-color: #3B3561;

  box-sizing: border-box;;
}

/* reordered */
.group.reorder .box:nth-child(1) {
  order: 3;
}
.group.reorder  .box:nth-child(2) {
  order: 4;
}

.group.reorder  .box:nth-child(3) {
  order: 1;
}

.group.reorder  .box:nth-child(4) {
  order: 2;
}

.group.reorder  .box:nth-child(5) {
  order: 5;
}

label {
  position: relative;
  display: block;
}

.challenge__description {
  width: 100%;
  font-size: 2.5rem;
  border: none;
  box-sizing: border-box;
  padding: 2rem;
  transition: all 0.2s ease-in-out;
}

.challenge__description--saved {
  margin: 0;
  color: #3B3561;
}

.anxiety-rating__input--saved {
  margin: 0;
  color: #3B3561;
  font-weight: bold;
}

textarea::placeholder {
  transition: all 0.2s ease-in-out;
  color: #3B3561;
  font: 18px Helvetica, Arial, sans-serif;
}

textarea:focus {
  padding-top: 4rem;
  padding-bottom: 12px;
  outline: none;
}

input:focus{
  outline: none;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus + span {
  opacity: 1;
  top: 10px;
}

span {
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  font-size: 2.5rem;
  color: #A3C5E6;
}

.rating-label {
  color: #3B3561 ;
  font-weight: bold;
  font-style: cursive;
  margin: 0;
}

input[type=range] {
  margin-top: 1.2rem;
  -webkit-appearance: none;
  width: 100%;
  border-radius: 0.7rem;
  height: 1.5rem;
}

input[type=range]:active, input[type=range]:hover, input[type=range]:focus  {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 4rem;
  width: 4rem;
  background: #fff;
  background-image: url('../images/sad-face.png');
  cursor: pointer;
  background: url('../images/sad-face.png') no-repeat center;
  background-size: contain;
}

.anxiety-rating {
  display: flex;
  direction: row;
  justify-content: space-between;
}

#firstStep {
  height: 17rem;
}
