.ladder {
  height: 35vh;
  position: relative;
  text-align: center;
  border: 1px solid #000;
  border-radius: 1rem;
  box-sizing:border-box;
  width:100%;
  padding: 0.6rem;
}

.ladder--new {
  opacity: 0.6;
}

.ladder__title {
  font-size: 2.5rem;
}

.ladder__image {
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
