html {
  background: url(../images/landing-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.lets-go {
  display: block;
  margin: 0 auto;
  margin-top: 50vh;
  width: 75%;
}

.login {
  font-size: 1.5em;
  font-family: Chivo;
  font-weight: bold;
  color: #3B3561;
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.hide {
  visibility: hidden;
}

.login__details {
  margin: 0 0 0.8rem;
  position: relative;
}

.login-input {
  width: 80%;
  margin: 0 auto;
  display: block;
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid;
  border-color: #3B3561;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.login-input:focus {
  outline: none;
}

.login__button {
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
}
